body {
    max-width: 60em;
    margin: 0 auto;
}

body, input {
    font-family: sans-serif;
    font-size: 14pt;
}

section {
    margin: 2em;
}

#input-form input[type="submit"] {
    float: right;
}

textarea#text-output {
    width: 100%;
}
